.legi-header{
  margin: 75px 0;
  text-align: center;
  h2{
    font-weight: 400;
  }
  #keyword-image{
    margin: 10px 0 0 0;
    width: 35px;
  }
  #keyword-definition{
    color: #7d7d7d;
    font-weight: 400;
    width: 50%;
    display: block;
    margin: 20px auto;
  }
}

